################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/Saved/Logs/Test.log
/Test/Saved/Logs/Test-backup-2018.03.20-20.19.02.log
/Test/Saved/Logs/Test-backup-2018.03.20-20.13.02.log
Test/
BattleTank/Content/StarterContent/Architecture/
BattleTank/Content/StarterContent/Audio/
BattleTank/Content/StarterContent/Blueprints/Blueprint_Effect_Explosion.uasset
BattleTank/Content/StarterContent/Blueprints/Blueprint_Effect_Fire.uasset
BattleTank/Content/StarterContent/
